    {% extends "base.html" %}

    {% block content %}
    <div class="content-section">
        
            <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom lg-1">Employee Registration</legend>
                <div class="form-group">
                    {{ form.empName.label(class="form-control-label") }}
                    {% if form.empName.errors %}
                    {{ form.empName(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.empName.errors %}
                            
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    
                        {{ form.empName(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                
                <div class="form-group">
                    {{ form.phonenumber.label(class="form-control-label") }}
                    {% if form.phonenumber.errors %}
                        {{ form.phonenumber(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                        {% for error in form.phonenumber.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                        {{ form.phonenumber(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.userName.label(class="form-control-label") }}
                    {% if form.userName.errors %}
                    {{ form.userName(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.userName.errors %}
                            
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    
                        {{ form.userName(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }}
                    {% if form.password.errors %}
                    {{ form.password(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                            
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    
                        {{ form.password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.confirm_password.label(class="form-control-label") }}
                    {% if form.confirm_password.errors %}
                    {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.confirm_password.errors %}
                            
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    
                        {{ form.confirm_password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
            </form>
    </div>
    {% endblock %}