{% extends "base.html" %}
{% block content %}

   <body>
     
      <div class="content-section">
    
        <form method="POST" action="" id="searchCustomerForm">
          {{ form.hidden_tag() }}
          <fieldset class="form-group">
              <legend class="border-bottom lg-1">SEARCH CUSTOMER</legend>
              <div class="form-group">
                <label for = "phonenumber" value="c_phone_number" id="" >Search: </label>
                  {{ form.phonenumber.label(class="form-control-label") }}
                  {% if form.phonenumber.errors %}
                    {{ form.phonenumber(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in form.phonenumber.errors %}
                          
                          <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                  {% else %}
                  <div class = "ui-widget">
                      {{ form.phonenumber(class="form-control form-control-lg",id="phonenumber") }}
                  </div>
                      {% endif %}
              </div>
              <div class="form-group">
                {{ form.fullname.label(class="form-control-label") }}
                {% if form.fullname.errors %}
                    {{ form.fullname(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in form.fullname.errors %}
                          <span>{{ error }}</span>
                      {% endfor %}
                  </div>
                  {% else %}
                      {{ form.fullname(class="form-control form-control-lg",id ="customerName") }}
                  {% endif %}
              </div>
              <div class="form-group">
                {{ form.email.label(class="form-control-label") }}
                {% if form.email.errors %}
                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in form.email.errors %}
                          <span>{{ error }}</span>
                      {% endfor %}
                  </div>
                  {% else %}
                      {{ form.email(class="form-control form-control-lg",id="customerEmail") }}
                  {% endif %}
              </div>
          </fieldset>
          <div class="btn-group">
          <div class="form-group mr-2">
            {{ form.submit(class="btn btn-outline-info", id="submit") }}
          </div>
          <div class="form-group mr-2">
            {{ form.deleteCustomer(class="btn btn-outline-info", id="deleteCustomer") }}
          </div>
        </div>
        </form>
        </div>
</div>

   </body>
</html>
{% endblock %}
